<div class="main posts-new">
    <div class="container">
        <h1 class="form-heading">編集する</h1>
        <%= form_for(@post, url:{controller:'posts', action:'edit', id:@post.id}) do |form| %>
        <div class="form">
            <div class="form-body">
                <tr>
                    <th>タイトル</th>
                    <td>
                        <%= form.text_field :title, { size:40 } %>
                    </td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td>
                        <%= form.text_field :genre, { size:40 } %>
                    </td>
                </tr>
                <tr>
                    <th>コメント</th>
                    <td><%= form.text_area :content, { cols:40, rows:10 } %></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <%= form.submit "更新" %>
                    </td>
                </tr>
            </div>
        </div>
        <% end %>
    </div>
</div>
